a {
    color: black;
    text-decoration: none;
}

.about_us_header {
    text-align: center;
    margin: 2rem 0 0 0;
}

.about_us_information {
    text-align: justify;
}

.about_us_information p {
    margin: 1rem auto;
    width: 60%;
    line-height: 1.5;
}